{% extends "default.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('querybuilder/css/query-builder.default.css') }}" />
{% endblock %}
{% block content %}
    <form method="get" action="" id="reports-form">
        <div class="box ">
            <div class="box-header">
                <h3 class="box-title">Show in report</h3>
            </div>
            <div class="box-body">
                {#<div class="row">#}
                {% for fields in fieldsHtml %}
                    {{ fields|raw }}
                {% endfor %}
                    {#<table class="table table-bordered" style="overflow: scroll">#}
                        {#<tr>#}
                            {#<td></td>#}
                            {#{% for group in fields %}#}
                                {#<th colspan="{{ group.fields|length }}" class="text-center">#}
                                    {#<input type="checkbox" class="group-checkbox" id="group-{{ group.code }}"/>#}
                                    {#<label for="group-{{ group.code }}">{{ group.label }}</label>#}
                                {#</th>#}
                            {#{% endfor %}#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td></td>#}
                            {#{% for group in fields %}#}
                                {#{% for field in group.fields %}#}
                                    {#<th>#}
                                        {#<input name="columns[]" type="checkbox" class="field-checkbox" value="{{ field.id }}" id="field-{{ field.id }}" {% if field.id in selected %} checked="checked" {% endif %} />#}
                                        {#<label for="field-{{ field.id }}">#}
                                            {#{% if field.iconClass is iterable %}#}
                                                {#{% for class in field.iconClass %}#}
                                                {#<span class="{{ class }}" title="{{ field.long_label }}"></span>#}
                                            {#{% endfor %}#}
                                            {#{% else %}#}
                                                {#<span class="{{ field.iconClass }}" title="{{ field.long_label }}"></span>#}
                                            {#{% endif %}#}
                                            {#{{ field.label|raw}}#}
                                        {#</label>#}
                                    {#</th>#}
                                {#{% endfor %}#}
                            {#{% endfor %}#}
                        {#</tr>#}
                        {#{% for agg, label in aggregations %}#}
                        {#<tr>#}
                            {#<td>#}
                                {#<label for="agg-{{ agg }}">{{ label }}</label>#}
                                {#<input name="agg[]" type="checkbox" class="agg-checkbox" value="{{agg}}" id="agg-{{ agg }}" />#}
                                {#<label for="agg-enable-{{ agg }}">Enable</label>#}
                                {#<input type="checkbox" class="agg-enable-checkbox" id="agg-enable-{{ agg }}" />#}
                            {#</td>#}
                            {#{% for group in fields %}#}
                                {#{% for field in group.fields %}#}
                                {#<td>#}
                                    {#{% if field.agg %}#}
                                    {#<input name="agg[]" type="checkbox" class="agg-checkbox" value="{{agg}}.{{ field.id }}" id="agg-{{ agg }}-{{ field.id }}" disabled="disabled" />#}
                                    {#{% endif %}#}
                                {#</td>#}
                                {#{% endfor %}#}
                            {#{% endfor %}#}
                        {#</tr>#}
                        {#{% endfor %}#}
                    {#</table>#}
                </div>
            {#</div>#}
        </div>
        <input type="hidden" name="rules" id="rules">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Filter By</h3>
            </div>
            <div class="box-body">
                <div id="report-container"></div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Submit {%  if actions|length > 0 %} and save {% endif %}</h3>
            </div>
            <div class="box-body">
                {%  if actions|length > 0 %}
                    <input type="hidden" name="current_report_id" value="{{ current_report_id }}" />
                    <div class="form-group">
                        <label for="save-report">Action</label>
                        <select name="save" id="save-report">
                            {% for value, label in actions %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" id="name-container" style="display: none;">
                        <label for="name" class="form-control-label required">Report Name</label>
                        <input id="name" name="name" required="required" class="form-control" type="text" value="{{ current_report_name }}" />
                    </div>
                {% endif %}
                <button type="button" class="btn btn-info" id="submitRules">Submit</button>
            </div>
        </div>

    </form>
    {{ grid|raw }}
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{ asset('7w/select-all.js') }}"></script>
    <script type="text/javascript" src="{{ asset('7w/report.js') }}"></script>
    <script type="text/javascript" src="{{ asset('7w/dot.js') }}"></script>
    <script type="text/javascript" src="{{ asset('7w/extendext.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('querybuilder/js/query-builder.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#report-fields').select2().selectAll();
            var rulesElement = $('#report-container').queryBuilder({{ config|raw }});
            $('#submitRules').on('click', function () {
                if (validateFields() && $(rulesElement).queryBuilder('validate')) {
                    $('#rules').val(JSON.stringify($(rulesElement).queryBuilder('getRules')));
                    $('#reports-form').submit();
                }
            });

            function validateFields() {
                var checked = $('[data-row-checkbox=true]:enabled:checked').length;
                if (checked == 0) {
                    alert('Select at least one field for the report');
                    return false;
                }
                return true;
            }

        });
    </script>
{% endblock %}
